[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-silk = "*"
pylint = "*"

[packages]
django-cors-headers = "*"
django-storages = "*"
boto3 = "*"
pymongo = "*"
django-enumfield = "*"
django-rest-swagger = "*"
dnspython = "*"
beautifulsoup4 = "*"
mysqlclient = "*"
django-mysql = "*"
drf-nested-routers = "*"
django-nose = "*"
coverage = "*"
django-filter = "*"
djangorestframework = "*"
django = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.7"
